.forgot-password-container {
  width: 500px;
  margin: 60px auto;
  padding: 25px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.forgot-password-page{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  backdrop-filter: blur(4px);
  font-family: "Poppins", sans-serif;

  /* Correction du background */
  background-image: url('src/assets/images/bg1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* Optionnel : s'assurer que la page fait 100% de la hauteur */
  width: 100%;
  height: 100vh;
}

h2 {
  text-align: center;
  color: #2b2b2b;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 6px;
  color: #444;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #0078d7;
  border: none;
  color: white;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #005fa3;
}

.error {
  color: red;
  font-size: 13px;
  margin-bottom: 10px;
}

.success {
  color: green;
  font-size: 13px;
  margin-bottom: 10px;
}

.step-container {
  display: block;
}
