<div class="dashboard-etudiant">
  <div class="dashboard-content">
    <!-- Sidebar -->
    <aside class="sidebar" [class.closed]="!isSidebarOpen">
      <div class="sidebar-toggle" (click)="toggleSidebar()">
        <i class="fa-solid fa-angle-left"></i>
      </div>

      <div class="menu-items">
        <div
          class="menu-item"
          *ngFor="let item of menuItems"
          [class.active]="activeItem === item.name"
          (click)="setActiveItem(item.name, item.route)"
        >
          <i [class]="item.icon" [style.color]="item.color"></i>
          <span class="menu-text">{{ item.name }}</span>
        </div>
      </div>
    </aside>

    
    <!-- Main Content with Router Outlet -->
    <main class="main-content">
      <!-- Using router-outlet to load child components dynamically -->
      <router-outlet></router-outlet>
    </main>
  
  </div>
</div>
