<div class="courses-page">
  <main class="courses-container">
    <h1 class="title">Mes Cours</h1>
    <div class="search-bar">
      <input
        type="text"
        placeholder="Rechercher un cours..."
        [(ngModel)]="searchTerm"
      />
    </div>

    <div class="cards-wrapper">
      <div class="course-card" *ngFor="let course of filteredMyCourses()">
        <div class="icon">
          <img
            [src]="'http://localhost:9091' + course.imageUrl"
            [alt]="course.titre"
          />
        </div>
        <h2>{{ course.titre }}</h2>
        <p>{{ course.description }}</p>
        <p class="date-inscription">
          Inscrit le: {{ course.dateInscription | date : "dd/MM/yyyy HH:mm" }}
        </p>
        <button (click)="openCourse(course)">Voir le cours</button>
      </div>
    </div>
  </main>
</div>
