<nav class="navbar">
  <div class="logo">
    <img src="/assets/images/logo.png" alt="Zedni Logo">
  </div>
<ul class="nav-links">
  <li><a href="#" class="active">Accueil</a></li>
  <li><a href="#">Formations</a></li>
  <li><a href="#">Contact</a></li>
  <li><a href="#">À propos</a></li>
</ul>


  <div class="account" (click)="toggleMenu()">
    <div class="icon">
      <i class="fa-solid fa-user"></i>
    </div>
    <div class="dropdown" *ngIf="showMenu">
      <a routerLink="/login">Se connecter</a>
      <a routerLink="/register">S’inscrire</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
