<div class="courses-page">
  <!-- Sidebar -->
  <aside [class.closed]="!isSidebarOpen" class="sidebar">
    <div class="sidebar-toggle" (click)="toggleSidebar()">
      <span>{{ isSidebarOpen ? '<' : '>' }}</span>
    </div>

    <div class="menu-items">
      <div
        class="menu-item"
        *ngFor="let item of menuItems"
        [class.active]="activeItem === item.name"
        (click)="setActiveItem(item.name, item.route)"
      >
        <i [class]="item.icon" [style.color]="item.color"></i>
        <span class="menu-text" *ngIf="isSidebarOpen">{{ item.name }}</span>
      </div>
    </div>
  </aside>

  <!-- Contenu principal -->
  <main class="courses-container">
    <h1 class="title">Cours Disponibles</h1>

    <div class="search-bar">
      <input type="text" placeholder="Rechercher un cours..." [(ngModel)]="isearchTerm">
    </div>

    <div class="cards-wrapper">
      <div class="course-card" *ngFor="let course of filteredMyCourses()">
        <div class="icon">
          <img [src]="course.imageUrl || 'assets/images/ai.jpg'" [alt]="course.titre" />
        </div>
        <h2>{{ course.titre }}</h2>
        <p>{{ course.description }}</p>

        <div class="rating">
          <span class="star" *ngFor="let s of [1,2,3,4,5]">★</span>
        </div>

        <button (click)="openCourse(course)">S'inscrire</button>
      </div>
    </div>
  </main>
</div>
