<div class="courses-page">
  <!-- Contenu principal -->
  <main class="courses-container">
    <h1 class="title">Cours Disponibles</h1>

    <div class="search-bar">
      <input
        type="text"
        placeholder="Rechercher un cours..."
        [(ngModel)]="isearchTerm"
      />
    </div>

    <div class="cards-wrapper">
      <div class="course-card" *ngFor="let course of filteredMyCourses()">
        <div class="icon">
          <img
            [src]="'http://localhost:9091' + course.imageUrl"
            [alt]="course.titre"
            class="course-img"
          />
        </div>
        <h2>{{ course.titre }}</h2>
        <p>{{ course.description }}</p>
        <button (click)="openCourse(course)">S'inscrire</button>
      </div>
    </div>
  </main>
</div>
