<h3>Participations du Quiz: {{ quiz?.titre }}</h3>

<!-- Bouton retour -->
<div class="back-btn-container">
  <button class="btn-back" (click)="goBackToQuizList()">
    ← Retour à la liste des quiz
  </button>
</div>

<table>
  <thead>
    <tr>
      <th>Étudiant</th>
      <th>Réponses</th>
      <th>Note</th>
      <th>Corrigé</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of participations">
      <td>{{ p.studentId }}</td>
      <td>{{ p.reponses }}</td>
      <td>{{ p.note }}</td>
      <td>{{ p.corrige }}</td>
    </tr>
  </tbody>
</table>
